<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GL.iNet Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="google" value="notranslate">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="max-age=28800, must-revalidate" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet"
        href="src/static/css/lib.min.css?rev=f043eajnrnfjlkd34354rogfk23423nakjfhrupdktirngnfrjghkringjkfkfkoajhfhrbhn65456f432gj53lls2432ofdaslfrkmc6546540796987jk263148jiekojiriaj5246j34dqw53s4dfg5das2ag56756786734fjfghf54345395ddasdzxcxx9rioio245725ednigasd35453listd36ee2">
    <link rel="stylesheet"
        href="src/static/css/sb-admin.css?rev=49ea8ajnrnfjlk5644564frogfkakjrfjfnakjfhrupdktirngnfrjghkringjkfkfkoajhfh34hikfjrj4fww5ngj53dfgdgdgadfafp234324cekf45645injk263148jiekojiriaj5246jdisd2sda57567gczx5ikks34245sdfs153453s5adsd45g95sdg54648riuo8qdw5725edn34534igasdliste23be2">
    <link rel="stylesheet"
        href="src/static/css/adapter.css?rev=9fc20ajnrnfjl435364rpfrogfkakjrfjfnakjfhrupdktirngnfrjghkringjkfkfkoajhfhrb354456ngj53llsjfpqdf2432mce5fwef56h23424k263148jiekojiriaj5246jdirik946sadas3567567tradse46778d345435fss96sddas34589xcz45725ednigasdli345345st9edqwdq62">
    <script
        src="src/lib/eval2.js?rev=95b51ajnrnfjlkdkfgrkifrpfrogfkakjrfjfnakjfhrupdktirngnfrjghkringjkfkfkoajhfh34qdwdqw5hikfj655ivng423gjfpqo234234mcekfhh546456njk26zxc8jiekojiriaj5246jdirik94ddf54kjhsdf3453sdasasdes554fsd4uio5384sdfs5725e34534dniga5676asdta3d6cvsdfds">
    </script>
    <script
        src="src/lib/require.js?rev=5b086ajnr3534645grkifrpfrogfkakjrfjfnakjfhrupdktirngnfrjghkringjkfkfkoajhfhrbhnhikfjr7656v34sfsef3432d2342pl23423445646injk263sdf8jiekojiriaj5dqwd6jd345asdasd5k94dfdhhh4da3453sdasd96uio95sfddfhgfgsfgsf124dwqq53453w25ednigas56756gh48sdfdsfb2">
    </script>
    <script
        src="src/config.js?rev=4d835ajnr45343543kifrpfrogfkakjrfjfnakjfhrupdktirngnfrjghkringjkfkfkoajhfhrbhnh4543vndsasad432jfp2zdfgdfglfr234ek345435f2342injk263148jiekojiriaj5246j35675qw946dfg56ghjgad3545sfjkjjh345s895sfdsfty8sdfsdf4sfesf5725ednigasdlist85a762">
    </script>
    <script
        src="src/main.js?rev=d5a8c342353lkdkfgrkifrpfrogfkakjrfjfnakjfhrupdktirngnfrjghkringjkfkfkoajhfhrbh234ikf3fs432ngj53llsjfpgdfgrkm243kfh243njk263148jiekojiriaj524634543kq5675dq5xczc6dghjgdaskjdf34534f3453s4zxc9sdf1245725e54353dnigasdlist628b02">
    </script>
    <script
        src="src/lib/iconfont.js?rev=15be0ajnrnfjlkdkfgrkif2342fkakjrfjfn423rupdktirngnfrjghkringjkfkfkoaj324hrb4324hikfjr34535ngj53llsjfdsaewrfp3242ekfhh324injk2sdf48jiekojiriaj5246j34asc675sdcd535sdlkasda3jkjjh34534kf21hgjrsefesfdf4353554sdfsd53841fds25ednigasdlistebc552">
    </script>
</head>

<body>
    <div id="app" v-cloak>
        <transition name="main-fade" mode="out-in">
            <!-- <loading v-if="loading"></loading> -->
            <!-- <gl-loading v-if="loading"></gl-loading> -->
            <indext></indext>
        </transition>
    </div>
</body>

</html>